<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Env" value="QA"/>
		<add key="QAURL" value="url1"/>
		<add key="UatURL" value="URL2"/>
		<!--<add key="FolderPath"="C:\Users\lakshay.sharma\Downloads\"/>-->
		<add key="UserName" value="usqaex\yesravankumar"/>
		<add key="Password" value="YDNizbTNjFK1xcFw+ZpKEg=="/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
