################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.jpg
/ConceptOfGeneralProgramming/.vs/ConceptOfGeneralProgramming/v15/Server/sqlite3
/ConceptOfGeneralProgramming/.vs/ConceptOfGeneralProgramming/v15
/ConceptOfGeneralProgramming/ConceptOfGeneralProgramming/bin/Debug
/ConceptOfGeneralProgramming/ConceptOfGeneralProgramming/obj/Debug
