<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Env" value="QA"/>
		<add key="QAURL" value="http://demo.guru99.com/V1/index.php"/>
		<add key="UatURL" value="URL2"/>
		<!--<add key="FolderPath"="C:\Users\lakshay.sharma\Downloads\"/>-->
		<add key="UserName" value="mngr274678"/>
		<add key="Password" value="tUjAtej"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
